body{ border: 1px solid black; }

.a{ height: 200px;
    width: 200px;
    border-right: 1px solid black; }

 .b{ height: 200px;
    width: 200px;
    border-left: 1px solid black; } 

 .c{ height: 200px;
    width: 200px;
    border-top: 1px solid black; }

 .d{ height: 200px;
    width: 200px;
    border-bottom: 1px solid black; }

 .e{ height: 200px;
    width: 200px;
    border: 1px solid black; }

 .f{ height: 200px;
    width: 200px;
    border: 5px double black; }

 .g{ height: 200px;
    width: 200px;
    border: 1px dotted black; }

 .h{ height: 200px;
    width: 200px;
    border: 1px dashed black; }

 .i{ height: 200px;
    width: 200px;
    border: 1px solid black;}