body{ 
      background-image: url(teddy.png);
      background-position: center;
      background-attachment: fixed;
      background-size: cover;
      background-repeat: no-repeat; }

.maim{margin: 10px;
      border: 6px double black; }

.a{ height: 100px;
    width: 100px;
    border: 1px solid black;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 20px; }

.b{ height: 100px;
    width: 100px;
    border: 1px solid black;
    margin-top: 10px;
    margin-left: 50px;
    font-weight: bold; }

.c{ height: 100px;
    width: 100px;
    border: 1px solid black;
    margin-top: 10px;
    margin-left: 100px;
    color: red; }

.d{ height: 100px;
    width: 100px;
    border: 1px solid black;
    margin-top: 10px;
    margin-left: 150px;
    font-style:italic ; }

.e{ height: 100px;
    width: 100px;
    border: 1px solid black;
    margin-top: 10px;
    margin-left: 200px;
    font-family: Candara; }


