<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="template-2.css">
	<title>TEMPLATE</title>
</head>
<body>

	<header>
		
		<div class="a">
			
			<h2>Interior Design</h2>

		</div>

		<nav class="b">
			
			<ul class="list">
				
				<li><a href="">HOME</a></li>
				<li><a href="">ABOUT</a></li>
				<li><a href="">PROJECTS</a></li>
				<li><a href="">SERVICES</a></li>
				<li><a href="">BLOG</a></li>
				<li><a href="">CONTACT</a></li>

			</ul>

		</nav>

	</header>

	<section>
		
		<div class="heading">
			
			<h1>INTERIOR DESIGN</h1>
			<h3>Lorem ipsum dolor sit amet, nam te agam solet cetero<br>his as exerci quodsi sententiea putent bonorum ne.</h3>
			
			<a href=""><input type="submit" name="" value="OUR SERVICES"></a>
			<a href=""><input type="submit" name="" value="GET A QUOTE"></a>


		</div>

	</section>

	<footer>

		<h2>OUR SERVICES</h2>
		<hr>
		
		<div class="main">
		<div class="Design1">
			
			<a href=""><h2> COMMERCIAL DESIGN</h2></a>

		</div>
		<div class="Design2">
			
			<a href=""><h2>OFFICE DESIGN</h2></a>

		</div>
		<div class="Design3">
			
			<a href=""><h2>RESIDENTIAL DESIGN</h2></a>

		</div>
	    </div>

	</footer>

</body>
</html>