<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>tamplate-4</title>
	<link rel="stylesheet" type="text/css" href="TEMPLATE4.CSS">
</head>
<body>

	<header>
		
       <div class="name">
       	
       	<h1>Travelo</h1>

       </div>

       <nav>
       	
       		<ul>
       			<li><a href="">home</a></li>
       			<li><a href="">about</a></li>
       			<li><a href="">destination</a></li>
       			<li><a href="">pages</a></li>
       			<li><a href="">blog</a></li>
       			<li><a href="">contact</a></li>
       		</ul>

       </nav>

   </header>

       <section class="one">
       	
             <div class="slider">
                 <div class="img1"><img src="alps.jpg" style="height: 300px; width: 300px;"></div>
                 <div class="img2"><img src="austrelia.jpg" style="height: 300px; width: 300px;"></div>
                 <div class="img3"><img src="bridge.jpg" style="height: 300px; width: 300px;"></div>
             </div>
             <div class="last">
                 <div class="img4"><img src="rainbow.jpg" style="height: 300px; width: 300px;"></div>
                 <div class="img5"><img src="road.jpg" style="height: 300px; width: 300px;"></div>
                 <div class="img6"><img src="sunset.jpg" style="height: 300px; width: 300px;"></div>
             </div>
       
       </section>

       <section class="two">

        <div class="twomain">
       	
         <div class="ask">
         	
         	<h2>where you want to go?</h2>

         </div>

         <div class="ans1">
         	
         	<input type="text" name="" placeholder="where you want to go?">

         </div>

         <div class="ans2">
         	
            <input type="text" name="" placeholder="date">

         </div>

     </div>

       </section>

       <section class="three">
           
           <h1>popular destination</h1>
           <h3>Suffered alteration in some form, by injected humour or good day</h3> <h3>randomised booth anim 8-bit hella wolf moon beard words.</h3>

           <div class="mainphoto">
               
               <div class="photo1">
                   <img src="italy.jpg" style="height: 300px; width: 300px;"><h1>ITALY</h1>
               </div>
               <div class="photo2">
                   <img src="brazil.jpg" style="height: 300px; width: 300px;"><h1>BRAZIL</h1>
               </div>
               <div class="photo3">
                   <img src="usa.jpg" style="height: 300px; width: 300px;"><h1>AMERICA</h1>
               </div>

            </div>

               <div class="lastphoto">
                   
                   <div class="photo4">
                       <img src="nepal.jpg" style="height: 300px; width: 300px;"><h1>NEPAL</h1>
                   </div>
                   <div class="photo5">
                       <img src="maldivs.jpg" style="height: 300px; width: 300px;"><h1>MALDIVS</h1>
                   </div>
                   <div class="photo6">
                       <img src="indonesia.jpg" style="height: 300px; width: 300px;"><h1>INDONESIA</h1>
                   </div>

               </div>

       </section>

       <section class="four">
           
           <div class="title">
               
               <div class="title1">
                   <h1>comfortable journey</h1>
                   <h2>A wonderful serenity has taken to the possession of my entire soul.</h2>
               </div>
               <div class="title2">
                   <h1>Luxuries Hotel</h1>
                   <h2>A wonderful serenity has taken to the possession of my entire soul.</h2>
               </div>
               <div class="title3">
                   <h1>Travel Guide</h1>
                   <h2>A wonderful serenity has taken to the possession of my entire soul.</h2>
               </div>

           </div>

       </section>

       <footer>
           
           <div class="Travelo">
               
               <h1>Travelo</h1>
               <h3>5th flora, 700/D kings road, green</h3>
               <h3>lane New York-1782</h3>
               <h3>+10 367 826 2567</h3>
               <h3>contact@carpenter.com</h3>

           </div>

       </footer>



</body>
</html>